body {
  text-align: center;
  background-color: #011F3F;
}

#level-title  {
  font-family:Brush Script MT;
  font-size: 4.5rem;
  margin:  5%;
  color: #FEF2BF;
}

.style{
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin-top: 50px;
  color: #FEF2BF;

}

span{
  font-family:Brush Script MT;
  color: #FEF2BF;
  font-size:3.5rem;
}

.hidden{
  visibility: hidden;
}
.stylerules{
    font-size: small;
    margin-left: 2%;
  text-align: left;}
.styler{
  font-family:Brush Script MT;
  color: #FEF2BF;
  font-size: 5rem;}
.cont{
  display:flex;
  justify-content: center;
  align-self: center;
  align-content: normal;
}

.btto{
  background-color: transparent;
  color: #fff;
  border-radius: 10px; 
  border-width: 1px;
  border: solid whitesmoke;
  padding: 10px 20px; 
  display: inline-block; 

  font-size: 30px;
  font-weight:bolder;
  cursor: pointer; 
  width: 170px;
  height: 80px;
}

.btto:hover{
  background-color:chartreuse;
  color: black;
}
.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color:paleturquoise;

}